# LaTeX temp files
*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex.gz
*.out

# Java output
*.class

# Eclipse temp files
.metadata
.classpath
.project
.settings/

# R temp files
.Rhistory

# IntelliJ IDEA temp files
.idea
*.iml